body {
  margin: 0;
  background-image: url("https://i.pinimg.com/originals/a7/6a/bb/a76abbfcf9c095a06d087887a1ad91ff.png");
  background-size: contain;
}

.main-header {
  position: relative;
  padding: 1%;
  font-family: "Merriweather", serif;
  font-size: small;
  text-align: center;
  color: white;
  background-color: #4d586f;
}

.main {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-items: center;
  color: white;
  margin: 6%;
  padding-bottom: 5%;
  border: black 5px double;
  background-color: #cbc5c0;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.container {
  width: 20%;
  height: auto;
  margin: 2%;
  background-color: #A2AAAF;
  border: 2px solid #4d586f;
}

.container:hover {
  background-color: #4d586f;
}

.image-button {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50% 0;
  border: 0;
  
}

.img-1 {
  background: url(https://www.flaticon.es/svg/static/icons/svg/3556/3556656.svg) center no-repeat;
  background-size: cover;
}

.img-2 {
  background: url(https://www.flaticon.es/svg/static/icons/svg/3500/3500043.svg) center no-repeat;
  background-size: cover;
}

.img-3 {
  background: url(https://www.flaticon.es/svg/static/icons/svg/879/879386.svg) center no-repeat;
}

.img-4 {
  background: url(https://www.flaticon.es/svg/static/icons/svg/835/835958.svg) center no-repeat;
}
inside-text {
  font-family: "Merriweather", serif;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.button {
    margin-top: 3%;
    background-color: #4D586F;
    padding: 2%;
    color: #EBECED;
}

a {
  color: #ebeced;
  text-decoration: none;
}
